<div class="max-w-[400px] mx-auto shadow-2xl pb-5 rounded-md mt-[100px]">
    <div class="px-8 py-2">
        <h1 class="text-4xl mb-8">Login</h1>
        <div [ngClass]="loginData.error ? 'alert alert-error shadow-lg visible block' : 'hidden invisible' ">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span>{{loginData.error}}</span>
            </div>
          </div>
        <app-my-input name="Email" (inputValue)="onInputValueChange($event)"></app-my-input>
        <app-my-input name="Password" type="password" (inputValue)="onInputValueChange($event)"></app-my-input>

        <app-button  [isLoading]="loginData.isLoading" title="Login" (btnClick)="onLogin()"></app-button>

        <div class="text-center mt-4">
            <p>Don't have an account <a routerLink="/signup" class="text-blue-400">Signup</a></p>
        </div>
    </div>
</div>